:root {
    /* ================ Colors ================ */
    --successColor: #07bc0c;
    --dangerColor: #dc3545;
    --brightColor: #ffffff;
    --softDarkColor: #191919;
    --darkColor: #0D0D0D;
}
